html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}

a {
    color: #DA0090;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.posted {
    font-size: 0.8rem;
    color: #89A611;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}


/* -------- header ------------ */

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rightheader {
    margin-left: 10px;
}

.rightheader h1 {
    color: #DA0090;
    margin: 0;
}

.rightheader p {
    margin: 0;
    font-size: .8rem;
}


/* ---------- navigation ------ */

nav {
    border-top: 1px solid #A51F10;
    border-bottom: 1px solid #A51F10;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

li {
    list-style: none;
    margin: 0 10px;
}


/* ------------ Articles ----------- */

section {
    display: flex;
    flex-direction: column;
}

article {
    margin: 30px 0;
}

article img {
    float: left;
    border-radius: 15px;
    margin-right: 10px;
    width: 250px;
}


/* ------------ Footer -------------- */

hr {
    color: #A51F10;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer p {
    margin-top: 30px;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0
}

footer ul li {
    margin: 0 3px;
}